<div class="row">
  <div class="span8">
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email, :placeholder => "Email address" %>
      </div>
    </div>
  

    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
      <%= f.password_field :password, :placeholder => "Password (at least 6 characters)" %>
      </div>
    </div>

    <!-- <p><%#= f.label :password_confirmation %><br />
    <%#= f.password_field :password_confirmation %></p> -->

    <div class="actions">
      <%= f.submit "Sign up", :class => "btn" %>
      <div class="clearfix">
        <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
