<!DOCTYPE html>
<html>
<head>

  <title><%= yield(:title) || "Unknown" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>  
  
  <%# FLASH NOTIFICATIONS %>
  <div id="messages" class="hidden_item">
    <% flash.each do |name, msg| %>
      <%# placeholder %><%= content_tag :div, msg, :id => "flash_#{name}", :class => "flashy" %>
      <!-- <div class="close_me">&#0215;</div> -->
      <%= link_to("#", { :id => "close_me_button", :class => "close_me" }) do %>
            <%= image_tag("298-circlex-white.png", :alt => "Close me", :class => "close_me_image") %>
      <% end %>
    <% end %>
  </div>
  
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= link_to "LaterNote", root_url, :class => "brand" %>
        <% if user_signed_in? %>
          <ul class="nav">
      
          </ul>
        <% end %>
        
        <ul id="dropit" class="nav secondary-nav">
          <% if !user_signed_in? %>
            <!-- <li><%#= link_to "Sign In", "/auth/facebook" %></li> -->
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% else %>
          <li class="dropdown">
            <%= link_to current_user.email, "#", :class => "dropdown-toggle" %>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit", edit_user_path(current_user) %></li>
              <!-- <li><a href="#">Something else here</a></li> -->
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_path %></li>
            </ul>
          </li>
          <% end %>
        </ul>
        
      </div>
    </div>
  </div>
  
     
  <div id="main" class="container">
      <%= yield %>
  </div>

</body>
</html>
